.__content_experiences {
  display: flex;
  flex-direction: column;  
  justify-content: center;
  align-items: center;
  margin-top: 4.125rem;
  margin-bottom: 4.125rem;
  width: 100%;
  padding: 2rem;
  gap: 1rem;
}

.__title {
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.068rem;
  color: var(--color-4)
}

.__ol_timeline {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.__li_timeline {
  width: 2rem;
  gap: 1rem;
}

.__div_timeline {
  width: 0.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.__span_timeline {
  
}