:root {
  --font-mono: 'Outfit';

  --black-1: #393939;
  --black-2: #525252;
  --black-3: #6F6F6F;
  --primary-black: #161616;
  --secondary-black: #262626;
  --primary-white: #F4F4F4;
  --secondary-white: #E0E0E0;
  --white-1: #C6C6C6;
  --white-2: #A8A8A8;
  --white-3: #8D8D8D;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: var(--font-mono);
}

a {
  text-decoration: none;
}
